<h1>Employee Search</h1>

<mat-form-field class="search-form-field">
  <input matInput type="text" placeholder="term" [(ngModel)]="searchValue">
  <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="search-form-field">
  <button mat-button (click)="onSearchClicked()">Search</button>
</div>

<mat-divider></mat-divider>

<div class="result">
  <ng-container *ngIf="this.result">
    <p [innerHTML]="result | safeHtml" runScripts></p>
  </ng-container>
</div>
